body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper {
    min-height: 100vh;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button {
    padding: 10px 20px;
    background: #614101;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
}

.accordian {
    width: 500px;
}

.item {
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.title {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #fff;
    height: auto;
}