.load-more-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    margin: 20px 0;
}

.product {
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 180px;
    height: 300px;
    border-radius: 10px;
}

.product img {
    width: 200px;
    height: 200px;
}